$breakpoint: 768px;
$bg: rgba(128, 185, 163, 1);
$bg_hover: darken($bg, 20%);

.barrnav {
	ul {
		display: flex;
		flex-direction: column;
		background-color: $bg;
	}
	img.hamb {
		width: 50px;
		height: 50px;
	}
	li {
		list-style-type: none;
		&:hover {
			background-color: $bg_hover;
		}
	}
	@media screen and (min-width: $breakpoint) {
		ul {
			flex-direction: row;
			justify-content: space-around
		}
	}
}
